<% include ../partials/_header %>

<% if (user.image) { %>
    <img src="<%= user.imageSRC %>" alt="<%= user.username %>">
  <% } %>

<p> Profile </p>
<p> username </p>
<%= user.username %>
<p> first name </p>
<%= user.firstName %>
<p> last name </p>
<%= user.lastName %>
<p> Email </p>
<%= user.email %>
<p> User </p>
<%= user %>



<a href="/users/<%= user.id %>/edit" class="button">Edit</a>

<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button alert">Delete</button>
</form>
</div>
