<% include ../partials/_header %>

<div class="blockTitle">
  <h2><%= photo.caption %></h2>
  <p>Posted by – <%= photo.createdBy.username %></p>
  <form action="/photos/<%= photo.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <button class="deleteBtn">DELETE</button>
  </form>
</div>


<a href="/photos/<%= photo.id %>">
  <img class="fullImage" src="<%= photo.imageSRC %>">
</a>
