<% include ../partials/_header %>


<div class="dateTitle">
<h2>Groups</h2>
</div>
<div class="groupPage">

<% groups.forEach((group) => { %>
  <a href="/groups/<%= group.id %>">
  <div class="groupShow">
  <h3> Group </h3>
  <%= group.name %>



  <br>
  <h3> Members </h3>
  <ul>

  <% group.members.forEach((member) => { %>

    <li><%= member.username %></li>
    <% }) %>
    </ul>
    <h3> About </h3>
    <p>  <%= group.description %> </p>
    <p>  <%= group.createdBy %> </p>
    </a>
    </div>
    <% }) %>
  </a>
  </div>
