<% include ../partials/_header %>

<div class="blockTitle">
<% if(!momentPage) {%>
  <h1><%= group.name %></h1>
  <h3><%= group.description %></h3>


    <form action="/groups/<%= group.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <button class="button button-primary">DELETE GROUP</button>
    </form>
</div>
<%  } %>


  <% for (let i = 0; i < photos.length; i++) { %>

    <% if(i === 0 || photos[i].date !== photos[i-1].date) { %>
      <div class="dateTitle">
      <% if(!momentPage) {%>
        <a href="/groups/<%= group.id %>?date=<%= photos[i].date %>">
        <%  } %>

        <div class="blockTitle">
          <h3> <%= moment(photos[i].createdAt).format('MMMM Do YYYY, h:mm') %> </h3>
          </div>
        <% if(!momentPage) {%>
          </a>
          <%  } %>
          </div>

          <div class="imgSection">
          <% } %>

          <div class="imageAlone">
          <a href="/photos/<%= photos[i].id %>">
          <img class="thumbnail" src="<%= photos[i].imageSRC %>">
          </a>
          <div class="PhotosAddedBy">
          Posted by - <%= photos[i].createdBy.username %>
          </div>
          </div>

          <% if(i === photos.length - 1 || photos[i].date !== photos[i+1].date) { %>
            </div>
            <% } %>
            <% } %>



            <% if(locals.isLoggedIn) { %>
              <% if(momentPage) {%>
                <div class="commentSection">
                <h2>Leave a comment</h2>
                <form action="/groups/<%= group.id %>/comments" method="POST">
                <textarea name="content"> </textarea>
                <input type="hidden" name="date" value="<%= photos[0].date %>">
                <button type="submit"> ADD COMMENT </button>
                </form>
                <% group.comments.forEach((comment) => { %>
                  <% if (comment.date === photos[0].date) { %>
                    <h4><%= comment.createdBy.username %> </h4  >
                    <p> <%= comment.content %></p>

                    <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
                      <form method="POST" action="/groups/<%= group.id %>/comments/<%= comment.id %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="date" value="<%= photos[0].date %>">
                        <button class="commentDeleteBtn">DELETE</button>
                      </form>
                    <% } %>



                    <%  } %>
                    <% }) %>

                    </div>
                    <% } %>
                    <% } %>
