<% include ../partials/_header %>

<div class="formBody">
<div class="column">
  <h2>Edit Profile</h2>

  <form method="POST" action="/users/<%= user.id %>" enctype="multipart/form-data">
    <div>

      <div>
        <label for="image" class="btn btn-success fileinput-button"><i class="fa fa-camera" aria-hidden="true"></i> Upload an image</label>
        <input type="file" name="image" id="image" class="hideButton">
      </div>

      <input type="text" name="firstName" id="firstName" value="<%= user.firstName %>">
    </div>
    <div>

      <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
    </div>
    <div>

      <input type="text" name="username" id="username" value="<%= user.username %>">
    </div>
    <div>

      <input type="email" name="email" id="email" value="<%= user.email %>">
    </div>





    <button class="button">Update</button>
  </form>
</div>
</div>
