<% include ../partials/_header %>


<div class="blockTitle">
  <h1> Profile </h1>
  <div class="deleteProfile">
    <form method="POST" action="/">
      <input type="hidden" name="_method" value="DELETE">
      <button class="deleteBtn">DELETE</button>
    </form>
  </div>
</div>


<div class="formBody">
  <div class="profile">
  <% if (user.image) { %>
    <img src="<%= user.imageSRC %>" alt="<%= user.username %>">
    <% } %>
    <div class="profileInfo">
      <p> username </p>
      <h2> <%= user.username %> </h2>
      <p> First name </p>
       <h2> <%= user.firstName %> </h2>
      <p> Last name </p>
      <h2> <%= user.lastName %> </h2>
      <p> Email </p>
    <h2>   <%= user.email %> </h2>
    </div>
  </div>
</div>
