<% include ../partials/_header %>



<div class="formBody">
  <% if (user.image) { %>
    <img src="<%= user.imageSRC %>" alt="<%= user.username %>">
  <% } %>
<h3> Profile </h3>
<h3> username </h3>
<%= user.username %>
<h3> first name </h3>
<%= user.firstName %>
<h3> last name </h3>
<%= user.lastName %>
<h3> Email </h3>
<%= user.email %>



<a href="/users/<%= user.id %>/edit" class="button">Edit</a>

<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button alert">Delete</button>
</form>
</div>
